<!DOCTYPE html>
<html>
<head>
    <title>Phishing Detection Tool</title>
</head>

<body style="font-family: Arial; text-align: center; margin-top: 80px;">

    <h1>URL Phishing Detection System</h1>

    <p>Enter a URL to analyse</p>

    <form action="/analyse" method="POST">
        <input type="text"
               name="url"
               placeholder="Enter URL here"
               required
               style="width: 300px; padding: 10px;">

        <br><br>

        <button type="submit"
                style="padding: 10px 20px;">
            Analyse
        </button>
    </form>

    <br><br>

    <a href="/simulation">Go to Simulation Page</a>

</body>
</html>